{% extends '_template.twig' %}


{% block body %}
   <div class="container" style="margin-top: 2rem;">
       <div class="row mar">
           <div id="react-app"></div>
       </div>
   </div>
{% endblock %}
